<nav class="navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BV-test-up</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active ">{{#link-to 'content'}}Home{{/link-to}}</li>
      <li>{{#link-to 'history'}}History{{/link-to}}</li>
      <li>{{#link-to 'content'}}Seach Data{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="#" {{action "logout"}}> {{fa-icon "sign-out" class="green-color-text"}} </a>
      </li>
    </ul>
  </div>
</nav>
{{outlet}}
