<nav class="navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BV-test-up</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active ">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'login'}}logIn{{/link-to}}</li>
      <li>{{#link-to 'signin'}}SignIn{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="">{{#link-to 'login'}} {{fa-icon "sign-out" class="green-color-text"}} {{/link-to}}</li>
    </ul>
  </div>
</nav> 
{{outlet}}